# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/
.venv/
venv/
env/

# Build outputs
dist/
tmp/
out/
.next/

# Database
*.db
*.sqlite3

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment variables
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
